.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(60, 60, 60, 0.249);
  max-width: 600px;
  width: 540px;
  /* margin: 20px auto; */
  margin-left: 270px;
  position: absolute;
  margin-top: 50px;
}

.search-icon {
  font-size: 20px;
  color: #555;
  margin-right: 10px;
}

.bell-icon {
  font-size: 20px;
  color: blue;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar-container input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  /* color: #333; */
}
.images{
            margin-left: 305px;
    margin-top: 177px;
    width: 264px;
    height: 414px;
    position: absolute;
    background-color: #e9f4f4;
    border-radius: 2rem;
}
.input-field{
    background-color: #ffffff;
}
.dashbord-name{
        position: absolute;
    margin-left: 270px;
    margin-top: 125px;
    color: #030b3e;
        font-weight: 700;
    font-size: 20px;
     width: 600px;
     max-width: 600px;
     /* background-color: aquamarine; */
}

.date{
    margin-left: 382px;
    background-color: #ffffff;
    color: rgb(45, 79, 217);
    font-weight: 300;
    border: #ffffff;
}
.card1{
    margin-top: 166px;
    margin-left: 640px;
    position: absolute;
    
}
.card2{
    margin-top: 302px;
    margin-left: 640px;
    position: absolute;
}
.card3{
    margin-top: 438px;
    margin-left: 640px;
    position: absolute;
}
.details{
     margin-top: 559px;
    margin-left: 790px;
    position: absolute;
    color: #030b3e;
}
.details:hover{
    font-size: 17px;
}







/* Responsive */
@media (max-width: 600px) {
  .search-bar-container {
    flex-direction: row;
    gap: 10px;
    padding: 8px 15px;
  }

  .search-icon,
  .bell-icon {
    font-size: 18px;
  }

  .search-bar-container input {
    font-size: 14px;
    padding: 6px;
  }
}










.dashboard-container {
  padding: 1rem;
  font-family: 'Arial', sans-serif;
}

.health-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
